<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Better Notes</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <div class="container border-b-8 py-10">
    <nav>
    <div> 
      <h1 class="float-left">
          <a href="/" class="text-5xl font-bold">Better Notes</a> 
      </h1>
    </div>
    <ul class="float-right">
      <li>
        <a href="/new" class="text-3xl"><span>Add Your Reads</span></a>
        </li>
    </ul>
    </nav>
  </div>

