
<%- include("partials/header.ejs") %>
<div>
<form action="/add" method="POST">
 <input type="text" name="author_fname" placeholder="John">
    <label for="author_fname">Author First Name</label>
 <input type="text" name="author_lname" placeholder="Smith">
    <label for="author_lname">Author Last Name</label>
 <input type="text" name="title" placeholder="A Fantastic Book">
    <label for="title">Book Title</label>
 <textarea rows="5" cols="33" name="notes">Put your notes here!</textarea>
<div class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label for="star5">5</label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label for="star4">4</label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label for="star3">3</label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label for="star2">2</label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label for="star1">1</label>
</div>
  <div>
  <label for="rating">Rating</label>
</div>
 <input type="submit" name="submit">
  
</form>
</div>
<%- include("partials/footer.ejs") %>
